<% layout("layouts/boilerplate") %>

<link rel="stylesheet" href="/stylesheets/usersStyle.css">

    <div class="container d-flex justify-content-center align-items-center mb-4">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>

                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
    
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                           
                            <button id="submit" class="btn btn-success">
                             <span>Login</span><i></i>  
                            </button>
                           

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
       <!--ðŸŽƒðŸŽƒðŸŽƒ
                    Why validate itâ“
                    Client-side validation
                bcuz we need to mek sure that the user doesn't submit the form empty.
                ðŸŸ¡First type "required" in the text area or input.
                ðŸ”µSecond add a wierd thing in the form "novalidate" where we tell the form not to validate with html validation -> do it as i say.
                ðŸŸ£Then add a class to ur farm called "validated-form"
                ðŸ”´Then add some JS to mek it all work -> I added it in "/javascript/validateForms.js" & included its script in "boilerplate.ejs".
                ðŸŸ DONE!! -> review field highlights in red if submitted empty.
                ðŸŸ¢For finishing touches -> add "valid-feedback" class below text area.
                -->